In [1]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd

# Callejero

In [2]:
df = pd.read_csv("coordinates/callejero.csv", sep=';')

In [3]:
df.columns

Index(['Nombre del distrito', 'Codigo postal'], dtype='object')

In [4]:
df.shape

(209326, 2)

In [5]:
df = df.drop_duplicates()

In [6]:
df.shape

(142, 2)

In [7]:
df = df.reset_index()
df = df.drop(["index"],axis=1)

In [8]:
df.rename(columns={"Nombre del distrito": "Distrito", "Codigo postal": "CP"}, inplace=True)

In [9]:
df.head()

               Distrito     CP
0  FUENCARRAL-EL PARDO   28050
1  HORTALEZA             28050
2  FUENCARRAL-EL PARDO   28108
3  CIUDAD LINEAL         28027
4  HORTALEZA             28027

In [38]:
df.Distrito.unique()

array(['FUENCARRAL-EL PARDO ', 'HORTALEZA           ',
       'CIUDAD LINEAL       ', 'SAN BLAS-CANILLEJAS ',
       'BARAJAS             ', 'MORATALAZ           ',
       'PUENTE DE VALLECAS  ', 'VICALVARO           ',
       'VILLA DE VALLECAS   ', 'VILLAVERDE          ',
       'USERA               ', 'CARABANCHEL         ',
       'LATINA              ', 'MONCLOA-ARAVACA     ',
       'CENTRO              ', 'TETUAN              ',
       'CHAMARTIN           ', 'CHAMBERI            ',
       'RETIRO              ', 'ARGANZUELA          ',
       'SALAMANCA           '], dtype=object)

In [42]:
district = input("Introduce distrito: ")

Introduce distrito: salamanca

In [43]:
district = district.upper()

In [44]:
district

'SALAMANCA'

In [45]:
cp = 28037
for index, row in df.iterrows():
    if district in row.Distrito:
        cp = row.CP
        break

In [46]:
cp

28009

In [47]:
df[df["CP"]==28039]

                 Distrito     CP
32   TETUAN                28039
61   MONCLOA-ARAVACA       28039
140  FUENCARRAL-EL PARDO   28039

# Coordenadas

In [48]:
datos = requests.get(f"https://geocode.xyz/{cp}?json=1").json()

In [49]:
datos = datos['alt']['loc']

In [50]:
coordinates = {}
for country in datos:
    if country['countryname'] == "Spain":
        coordinates["latt"] = country["latt"]
        coordinates["long"] = country["longt"]

In [51]:
coordinates

{'latt': '40.42011', 'long': '-3.67528'}