In [2]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd

# Pueblos

In [3]:
df_madrid = pd.read_csv("coordinates/cp_spain.csv", sep=";")

In [4]:
df_madrid.rename(columns={"codigopostalid":"CP"}, inplace=True)

In [5]:
df_madrid

    provincia          poblacion     CP             lat             lon
0      Madrid            Ajalvir  28864  -3.480.710.160  40.535.068.130
1      Madrid  Alameda del Valle  28742  -3.843.661.950  40.916.583.150
2      Madrid           El Alamo  28607  -3.990.797.560  40.228.256.070
3      Madrid           El Alamo  28807  -3.990.797.560  40.228.256.070
4      Madrid  Alcala de Henares  28801  -3.369.251.020  40.480.332.320
..        ...                ...    ...             ...             ...
331    Madrid     Puentes Viejas  28195  -3.583.264.550  40.964.450.110
332    Madrid     Puentes Viejas  28196  -3.583.264.550  40.964.450.110
333    Madrid     Puentes Viejas  28754  -3.583.264.550  40.964.450.110
334    Madrid        Tres Cantos  28760  -3.704.205.900  40.604.905.350
335    Madrid        Tres Cantos  28761  -3.704.205.900  40.604.905.350

[336 rows x 5 columns]

In [6]:
df_madrid.to_csv("data/df_madrid.csv")

# Callejero

In [18]:
df = pd.read_csv("coordinates/callejero.csv", sep=';')

In [19]:
df.columns

Index(['Nombre del distrito', 'Codigo postal'], dtype='object')

In [20]:
df.shape

(209326, 2)

In [21]:
df = df.drop_duplicates()

In [22]:
df.shape

(142, 2)

In [23]:
df = df.reset_index()
df = df.drop(["index"],axis=1)

In [24]:
df.rename(columns={"Nombre del distrito": "Distrito", "Codigo postal": "CP"}, inplace=True)

In [25]:
df.head()

               Distrito     CP
0  FUENCARRAL-EL PARDO   28050
1  HORTALEZA             28050
2  FUENCARRAL-EL PARDO   28108
3  CIUDAD LINEAL         28027
4  HORTALEZA             28027

In [26]:
df.drop(df[df.CP == 0].index, inplace=True)

In [29]:
df.to_csv("data/df_districts.csv")

In [27]:
lista_distritos = []
for distrito in list(df.Distrito.unique()):
    d = distrito.lower()
    d = d.strip()
    lista_distritos.append(d)

In [28]:
lista = ['fuencarral', 'el pardo', 'hortaleza', 'ciudad lineal', 'san blas', 'canillejas', 'barajas', 'moratalaz', 'puente de vallecas', 'vicalvaro', 'villa de vallecas', 'villaverde', 'usera', 'carabanchel', 'latina', 'moncloa', 'aravaca', 'centro', 'tetuan', 'chamartin', 'chamberi', 'retiro', 'arganzuela', 'salamanca']

# Llamada

In [48]:
district = input("Introduce distrito: ")

Introduce distrito: moncloa

In [49]:
coordinates = {}
if district.lower() in lista:
    district = district.upper()
    cp = 28037
    for index, row in df.iterrows():
        if district in row.Distrito:
            cp = row.CP
    datos = requests.get(f"https://geocode.xyz/{cp}?json=1").json()
    datos = datos["alt"]["loc"]
    for country in datos:
        if country['countryname'] == "Spain":
            coordinates["latt"] = country["latt"]
            coordinates["long"] = country["longt"]
else:
    for index, row in df_madrid.iterrows():
        if district.upper() in row.poblacion.upper():
            coordinates["latt"] = row["lat"][:6]
            coordinates["long"] = row["lon"][:6]            
            break
coordinates
coord_point = {"type":"Point", "coordinates": [coordinates['long'], coordinates['latt']]}
coord_point

{'type': 'Point', 'coordinates': ['-3.70496', '40.44220']}