In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("preferences/cat.csv")

In [3]:
df.head()

           age  category subcategory
0  20-30 years   culture      museum
1  30-40 years  select..    select..
2  30-40 years    snacks    select..
3  30-40 years    snacks      coffee
4  10-20 years    snacks      coffee

In [4]:
df.drop(df[df.category == "select.."].index, inplace=True)
df.drop(df[df.subcategory == "select.."].index, inplace=True)
df = df.reset_index()
df.drop(["index"],axis=1,inplace=True)

In [5]:
df

            age            category  subcategory
0   20-30 years             culture       museum
1   30-40 years              snacks       coffee
2   10-20 years              snacks       coffee
3   10-20 years              snacks       coffee
4   10-20 years            outdoors  pista padel
5   20-30 years  leisure activities      skating
6   10-20 years            outdoors  pista padel
7   50-60 years            outdoors  pista padel
8   50-60 years              snacks       sweets
9   20-30 years            outdoors    paintball
10  20-30 years  leisure activities     climbing