In [32]:
import pandas as pd
from folium import Circle, Marker, Icon, Map
from pymongo import MongoClient, GEOSPHERE
conn = MongoClient("localhost:27017")
db = conn.get_database("madrid")

In [33]:
df_restaurants = pd.read_csv("data/restaurants.csv", index_col=0)
df_snacks = pd.read_csv("data/snacks.csv", index_col=0)
df_culture = pd.read_csv("data/culture.csv", index_col=0)
df_party = pd.read_csv("data/party.csv", index_col=0)
df_drinks = pd.read_csv("data/drinks.csv", index_col=0)
df_outdoors = pd.read_csv("data/outdoors.csv", index_col=0)
df_leisure = pd.read_csv("data/leisure.csv", index_col=0)

In [34]:
collection = db.get_collection("todo")

In [62]:
coord_point = {'type': 'Point', 'coordinates': [40.42732, -3.72217]}

In [63]:
query = {"location": {"$near": {"$geometry": coord_point,"$minDistance": 500  , "$maxDistance": 3000}}}

In [64]:
query_final = collection.find(query)

In [66]:
query_final

In [68]:
df = pd.DataFrame(list(query_final))

In [69]:
df

Empty DataFrame
Columns: []
Index: []