# Plans in Madrid üìç

<img width=400 src="https://i.gifer.com/MPEr.gif">

## Libraries üìö

In [1]:
import pandas as pd
import numpy as np
import src.cleaning as c

## Importing CSV's and creating dataframes

In [2]:
lista_restaurantes = ["japanese",
         "burger", "vietnamese", "tapas", "korean", "brewery", "greek", "vegan",
         "french", "mexican", "asian",  "ramen", "argentino", "grill", "italian",
         "thai", "mid eastern",
         "indian", "pizza", "healthy", "vegetarian","seafood", "gluten free" ]

In [3]:
lista_snacks = ["cake", "cupcakes", "coffee", "sweets", "ice cream", "juices", "brunch"]

In [4]:
lista_party = ["club", "pub", "nightlife", "dancing", "discoteca"]

In [5]:
lista_alcohol = [ "brewery", "rooftop", "cocktail", 
         "sports bar", "drinks",
         "wine", "cata de vino" ]

In [6]:
lista_cultura = ["cinema", "museum", "theater",
         "jazz", "karaoke", "autocine"]

In [7]:
lista_outdoors = ["park", "zoo", "pista padel", "pista tenis", "campo de futbol", 
         "paintball", "multiaventura", "cancha baloncesto",  "senderismo", "golf"]

In [8]:
lista_otros =["bowling", "spa", "escape room", "pista de hielo", "karts", "laser tag", 
              "tunel de viento", "teleferico", "escalada"]

In [9]:
df_restaurants = c.create_subdata(lista_restaurantes)
df_snacks = c.create_subdata(lista_snacks)
df_party = c.create_subdata(lista_party)
df_alcohol = c.create_subdata(lista_alcohol)
df_culture = c.create_subdata(lista_cultura)
df_outdoors = c.create_subdata(lista_outdoors)
df_others = c.create_subdata(lista_otros)

## Cleaning üßΩüõÅ

#### Cleaning column address

In [10]:
df_restaurants["address"] = df_restaurants.address.apply(c.address_1)
df_restaurants["CP"] = df_restaurants.address.apply(c.CP)
df_restaurants["address"] = df_restaurants.address.apply(c.address_2)

df_snacks["address"] = df_snacks.address.apply(c.address_1)
df_snacks["CP"] = df_snacks.address.apply(c.CP)
df_snacks["address"] = df_snacks.address.apply(c.address_2)

df_party["address"] = df_party.address.apply(c.address_1)
df_party["CP"] = df_party.address.apply(c.CP)
df_party["address"] = df_party.address.apply(c.address_2)

df_alcohol["address"] = df_alcohol.address.apply(c.address_1)
df_alcohol["CP"] = df_alcohol.address.apply(c.CP)
df_alcohol["address"] = df_alcohol.address.apply(c.address_2)

df_culture["address"] = df_culture.address.apply(c.address_1)
df_culture["CP"] = df_culture.address.apply(c.CP)
df_culture["address"] = df_culture.address.apply(c.address_2)

df_outdoors["address"] = df_outdoors.address.apply(c.address_1)
df_outdoors["CP"] = df_outdoors.address.apply(c.CP)
df_outdoors["address"] = df_outdoors.address.apply(c.address_2)

df_others["address"] = df_others.address.apply(c.address_1)
df_others["CP"] = df_others.address.apply(c.CP)
df_others["address"] = df_others.address.apply(c.address_2)

#### Columns with latitude and longitude üó∫

In [11]:
df_restaurants = c.latlon(df_restaurants)
df_snacks = c.latlon(df_snacks)
df_party = c.latlon(df_party)
df_alcohol = c.latlon(df_alcohol)
df_culture = c.latlon(df_culture)
df_outdoors = c.latlon(df_outdoors)
df_others = c.latlon(df_others)

#### Evaluating price level üí∏

**Price Level**      
0 ‚Äî Free    
1 ‚Äî Inexpensive (0-10)   
2 ‚Äî Moderate (10-25)       
3 ‚Äî Expensive (25-50)     
4 ‚Äî Very Expensive (<50)

In [12]:
df_snacks['price_level'] = c.fill_nulls(df_snacks)
df_restaurants['price_level'] = c.fill_nulls(df_restaurants)
df_party['price_level'] = c.fill_nulls(df_party)
df_alcohol['price_level'] = c.fill_nulls(df_alcohol)
df_culture['price_level'] = c.fill_nulls(df_culture)

In [13]:
df_others.place.unique()

array(['bowling', 'spa', 'escape room', 'pista de hielo', 'karts',
       'laser tag', 'tunel de viento', 'teleferico', 'escalada'],
      dtype=object)

In [14]:
outdoors_price = {"zoo" : 2.0,
 "park" : 0.0, 
 "pista padel" : 1.0, 
 "pista tenis": 1.0,
 "senderismo": 0.0,
 "campo de futbol": 1.0,
 "cancha baloncesto": 1.0,
 "paintball": 2.0,
 "multiaventura": 2.0,
 "golf" : 1.0
    }

In [15]:
culture_price = {
    'cinema' : 1.0,
    'museum': 2.0, 
    'theater': 2.0,
     'autocine' : 1.0
}

In [16]:
others_price = {'bowling' : 1.0, 
                'spa': 3.0, 
                'escape room' : 2.0, 
                'pista de hielo': 2.0,
                'karts' : 3.0,
                'laser tag': 3.0, 
                'tunel de viento' : 4.0, 
                'teleferico' : 1.0,
                'escalada' : 1.0
               }

In [17]:
df_outdoors['price_level'] = df_outdoors.price_level.fillna(df_outdoors.place.map(outdoors_price))
df_culture['price_level'] = df_culture.price_level.fillna(df_culture.place.map(culture_price))
df_others['price_level'] = df_others.price_level.fillna(df_others.place.map(others_price))

In [18]:
df_others.dtypes

name            object
rating         float64
address         object
price_level    float64
place           object
CP              object
latitude       float64
longitude      float64
geometry        object
dtype: object

#### NO ME SALE ü•≤

In [19]:
df_others[df_others["place"] == "teleferico"]

,name,rating,address,price_level,place,CP,latitude,longitude,geometry
199,Telef√©rico en Rosales,3.7,"Paseo del Pintor Rosales, s/n",1.0,teleferico,28008,40.427922,-3.721784,"{'type': 'Point', 'coordinates': [40.427922, -..."
200,Teleferico de Madrid - Country House Station,4.2,"Casa de campo, Calle Cerro Garabita, s/n",1.0,teleferico,28011,40.419765,-3.748729,"{'type': 'Point', 'coordinates': [40.419765, -..."
201,G√≥ra Ebbot,0.0,,1.0,teleferico,28023,40.463667,-3.749220,"{'type': 'Point', 'coordinates': [40.463667000..."
202,Parque Teleferico Madrid,4.4,"Camino del Robledal, 2",1.0,teleferico,28011,40.419806,-3.747821,"{'type': 'Point', 'coordinates': [40.4198059, ..."
203,Pintor Rosales - Telef√©rico,4.7,,1.0,teleferico,28008,40.429410,-3.722280,"{'type': 'Point', 'coordinates': [40.42941, -3..."
204,Bar - Teleferico Casa de Campo,4.3,Estaci√≥n Telef√©rico,1.0,teleferico,28011,40.419689,-3.748947,"{'type': 'Point', 'coordinates': [40.419688699..."

In [20]:
df_outdoors[df_outdoors["place"] == "zoo"]

,name,rating,address,price_level,place,CP,latitude,longitude,geometry
53,Zoo Aquarium de Madrid,4.3,"Casa de Campo, s/n",2.0,zoo,28011,40.409123,-3.760959,"{'type': 'Point', 'coordinates': [40.409122800..."
54,Rinoceronte Indio,5.0,,2.0,zoo,28011,40.410395,-3.762841,"{'type': 'Point', 'coordinates': [40.4103946, ..."
55,Oso Hormiguero,5.0,"Casa de Campo, s/n",2.0,zoo,28011,40.409779,-3.764147,"{'type': 'Point', 'coordinates': [40.4097789, ..."
56,Suricata,5.0,"Ctra. Zarz√≥n, 6",2.0,zoo,28011,40.409590,-3.765020,"{'type': 'Point', 'coordinates': [40.4095897, ..."
57,Cig√ºe√±as,5.0,"Casa de Campo, s/n",2.0,zoo,28011,40.408426,-3.763446,"{'type': 'Point', 'coordinates': [40.4084264, ..."
58,Sea lions,4.2,"Ctra. Zarz√≥n, 6",2.0,zoo,28011,40.410597,-3.761906,"{'type': 'Point', 'coordinates': [40.410597, -..."
59,Yack,5.0,"Unnamed Road,",2.0,zoo,"8011,",40.409781,-3.766399,"{'type': 'Point', 'coordinates': [40.4097814, ..."
60,Faunia,4.1,"Av. Comunidades, 28",2.0,zoo,28032,40.392039,-3.612441,"{'type': 'Point', 'coordinates': [40.3920393, ..."
61,Gorilas,4.4,"Ctra. Zarz√≥n, 6",2.0,zoo,28011,40.409408,-3.765531,"{'type': 'Point', 'coordinates': [40.409408, -..."
62,Koalas,5.0,Casa de Campo s/n,2.0,zoo,28011,40.408035,-3.763380,"{'type': 'Point', 'coordinates': [40.4080351, ..."
63,Espect√°culos de aves,4.1,"Ctra. Zarz√≥n, 6",2.0,zoo,28011,40.408091,-3.765022,"{'type': 'Point', 'coordinates': [40.4080912, ..."
64,Estanque de los delfines,4.2,"Ctra. Zarz√≥n, 6",2.0,zoo,28011,40.407972,-3.765904,"{'type': 'Point', 'coordinates': [40.4079717, ..."
65,Elefantes,4.6,Casa de Campo,2.0,zoo,28011,40.409695,-3.763624,"{'type': 'Point', 'coordinates': [40.4096954, ..."
66,Ping√ºinos,5.0,"Unnamed Road,",2.0,zoo,"8011,",40.410479,-3.761544,"{'type': 'Point', 'coordinates': [40.4104789, ..."
67,Tigers,4.6,"Ctra. Zarz√≥n, 6",2.0,zoo,28011,40.410699,-3.764680,"{'type': 'Point', 'coordinates': [40.4106989, ..."
68,Rinoceronte,4.6,Casa de Campo,2.0,zoo,28011,40.409089,-3.766549,"{'type': 'Point', 'coordinates': [40.4090885, ..."
69,Mariposas - El Jard√≠n del Ed√©n,4.3,"Av. Comunidades, 22",2.0,zoo,28032,40.391114,-3.612885,"{'type': 'Point', 'coordinates': [40.3911137, ..."
70,Lemures,3.6,Casa de Campo,2.0,zoo,28011,40.410444,-3.763953,"{'type': 'Point', 'coordinates': [40.4104445, ..."
71,Leopardos,4.5,"Ctra. Zarz√≥n, 6",2.0,zoo,28011,40.410886,-3.763838,"{'type': 'Point', 'coordinates': [40.4108858, ..."
72,Monos,4.7,Casa de Campo,2.0,zoo,28011,40.409591,-3.763015,"{'type': 'Point', 'coordinates': [40.4095914, ..."

In [21]:
## borrar zoo y teleferico

In [22]:
df_outdoors = df_outdoors.drop(df_outdoors[(df_outdoors['place'] == 'zoo') & (df_outdoors['name'] != ("Faunia" or "Zoo Aquiarium de Madrid"))].index)

In [23]:
df_outdoors[df_outdoors["place"]=="zoo"]

,name,rating,address,price_level,place,CP,latitude,longitude,geometry
60,Faunia,4.1,"Av. Comunidades, 28",2.0,zoo,28032,40.392039,-3.612441,"{'type': 'Point', 'coordinates': [40.3920393, ..."

## Exporting

In [24]:
df_restaurants.to_json("json/restaurants", orient="records")
df_snacks.to_json("json/snacks", orient="records")
df_culture.to_json("json/culture", orient="records")
df_party.to_json("json/party", orient="records")
df_alcohol.to_json("json/alcohol", orient="records")
df_outdoors.to_json("json/outdoors", orient="records")
df_others.to_json("json/others", orient="records")