# Plans in Madrid üìç

<img width=400 src="https://i.gifer.com/MPEr.gif">

## Libraries üìö

In [1]:
import pandas as pd
import numpy as np
import src.cleaning as c
import re

## Importing CSV's and creating dataframes

In [2]:
lista_restaurantes = ["japanese",
         "burger", "vietnamese", "tapas", "korean", "greek", "vegan",
         "french", "mexican", "asian",  "ramen", "argentino", "grill", "italian",
         "thai", "mid eastern",
         "indian", "pizza", "healthy", "vegetarian","seafood", "gluten free", "pet friendly restaurant"]

In [3]:
lista_snacks = ["cake", "cupcakes", "coffee", "sweets", "ice cream", "juices", "brunch"]

In [4]:
lista_party = ["club", "pub", "nightlife", "dancing", "discoteca", "salsa club", "samba club"]

In [5]:
lista_alcohol = [ "brewery", "rooftop", "cocktail", 
         "sports bar", "drinks",
         "wine", "cata de vino" ]

In [6]:
lista_cultura = ["cinema", "museum", "theater",
         "jazz", "karaoke", "autocine", "piano bar"]

In [7]:
lista_outdoors = ["park", "zoo", "pista padel", "pista tenis", "campo de futbol", 
         "paintball", "multiaventura", "cancha baloncesto",  "senderismo", "golf",
                 "water park"]

In [8]:
lista_otros =["bowling", "spa", "escape room", "pista de hielo", "karts", "laser tag", 
              "tunel de viento", "teleferico", "escalada"]

In [9]:
df_restaurants = c.create_subdata(lista_restaurantes)
df_snacks = c.create_subdata(lista_snacks)
df_party = c.create_subdata(lista_party)
df_alcohol = c.create_subdata(lista_alcohol)
df_culture = c.create_subdata(lista_cultura)
df_outdoors = c.create_subdata(lista_outdoors)
df_others = c.create_subdata(lista_otros)

## Cleaning üßΩüõÅ

#### Cleaning column address

In [10]:
df_restaurants = c.address(df_restaurants)
df_snacks = c.address(df_snacks)
df_party = c.address(df_party)
df_alcohol = c.address(df_alcohol)
df_culture = c.address(df_culture)
df_outdoors = c.address(df_outdoors)
df_others = c.address(df_others)

#### Columns with latitude and longitude üó∫

In [11]:
df_restaurants = c.latlon(df_restaurants)
df_snacks = c.latlon(df_snacks)
df_party = c.latlon(df_party)
df_alcohol = c.latlon(df_alcohol)
df_culture = c.latlon(df_culture)
df_outdoors = c.latlon(df_outdoors)
df_others = c.latlon(df_others)

#### Dropping some useless columns

In [18]:
df_outdoors = c.drop_row(df_outdoors,"park")
df_outdoors = c.drop_row(df_outdoors,"zoo")
df_others = c.drop_row(df_others, "tlf")
df_others = c.drop_row(df_others, "laser")

#### Evaluating price level üí∏

**Price Level**      
0 ‚Äî Free    
1 ‚Äî Inexpensive (0-15)   
2 ‚Äî Moderate (15-25)       
3 ‚Äî Expensive (25-50)     
4 ‚Äî Very Expensive (<50)

In [12]:
df_snacks['price_level'] = c.fill_nulls(df_snacks)
df_restaurants['price_level'] = c.fill_nulls(df_restaurants)
df_party['price_level'] = c.fill_nulls(df_party)
df_alcohol['price_level'] = c.fill_nulls(df_alcohol)
df_culture['price_level'] = c.fill_nulls(df_culture)

In [13]:
df_others.place.unique()

array(['bowling', 'spa', 'escape room', 'pista de hielo', 'karts',
       'laser tag', 'tunel de viento', 'teleferico', 'escalada'],
      dtype=object)

In [14]:
outdoors_price = {"zoo" : 2.0,
 "park" : 0.0, 
 "pista padel" : 1.0, 
 "pista tenis": 1.0,
 "senderismo": 0.0,
 "campo de futbol": 1.0,
 "cancha baloncesto": 1.0,
 "paintball": 2.0,
 "multiaventura": 2.0,
 "golf" : 1.0,
 "water park" : 3.0,
    }

In [15]:
culture_price = {
    'cinema' : 1.0,
    'museum': 2.0, 
    'theater': 2.0,
     'autocine' : 1.0
}

In [16]:
others_price = {'bowling' : 1.0, 
                'spa': 3.0, 
                'escape room' : 2.0, 
                'pista de hielo': 2.0,
                'karts' : 3.0,
                'laser tag': 3.0, 
                'tunel de viento' : 4.0, 
                'teleferico' : 1.0,
                'escalada' : 1.0
               }

In [17]:
df_outdoors['price_level'] = df_outdoors.price_level.fillna(df_outdoors.place.map(outdoors_price))
df_culture['price_level'] = df_culture.price_level.fillna(df_culture.place.map(culture_price))
df_others['price_level'] = df_others.price_level.fillna(df_others.place.map(others_price))

In [28]:
df_restaurants["price"] = df_restaurants.price_level.apply(c.pricing)
df_snacks["price"] = df_restaurants.price_level.apply(c.pricing)
df_party["price"] = df_restaurants.price_level.apply(c.pricing)
df_alcohol["price"] = df_restaurants.price_level.apply(c.pricing)
df_culture["price"] = df_restaurants.price_level.apply(c.pricing)
df_outdoors["price"] = df_restaurants.price_level.apply(c.pricing)
df_others["price"] = df_restaurants.price_level.apply(c.pricing)

AttributeError: module 'src.cleaning' has no attribute 'pricing'

## Exporting

In [26]:
df_restaurants.to_json("json/restaurants", orient="records")
df_snacks.to_json("json/snacks", orient="records")
df_culture.to_json("json/culture", orient="records")
df_party.to_json("json/party", orient="records")
df_alcohol.to_json("json/alcohol", orient="records")
df_outdoors.to_json("json/outdoors", orient="records")
df_others.to_json("json/others", orient="records")

In [27]:
df_restaurants.to_csv("data/restaurants.csv")
df_snacks.to_csv("data/snacks.csv")
df_culture.to_csv("data/culture.csv")
df_party.to_csv("data/party.csv")
df_alcohol.to_csv("data/drinks.csv")
df_outdoors.to_csv("data/outdoors.csv")
df_others.to_csv("data/leisure.csv")