# Plans in Madrid üìç

<img width=400 src="https://i.gifer.com/MPEr.gif">

## Libraries üìö

In [1]:
import pandas as pd
import numpy as np
import src.cleaning as c
import re

## Importing CSV's and creating dataframes

In [2]:
lista_restaurantes = ["japanese",
         "burger", "vietnamese", "tapas", "korean", "greek", "vegan",
         "french", "mexican", "asian",  "ramen", "argentino", "grill", "italian",
         "thai", "mid eastern",
         "indian", "pizza", "healthy", "vegetarian","seafood", "gluten free", "pet friendly restaurant"]

In [3]:
lista_snacks = ["cake", "cupcakes", "coffee", "sweets", "ice cream", "juices", "brunch"]

In [4]:
lista_party = ["club", "pub", "dancing", "salsa club", "samba club", "karaoke"]

In [5]:
lista_alcohol = [ "brewery", "rooftop", "cocktail", 
         "sports bar",
         "wine", "cata de vino"]

In [6]:
lista_cultura = ["cinema", "museum", "theater",
         "jazz", "autocine", "piano bar"]

In [7]:
lista_outdoors = ["park", "zoo", "pista padel", "pista tenis", "campo de futbol", 
         "paintball", "multiaventura", "cancha baloncesto",  "senderismo", "golf",
                 "water park"]

In [8]:
lista_otros =["bowling", "spa", "escape room", "pista de hielo", "karts", "laser tag", 
              "tunel de viento", "teleferico", "escalada"]

In [9]:
df_restaurants = c.create_subdata(lista_restaurantes)
df_snacks = c.create_subdata(lista_snacks)
df_party = c.create_subdata(lista_party)
df_alcohol = c.create_subdata(lista_alcohol)
df_culture = c.create_subdata(lista_cultura)
df_outdoors = c.create_subdata(lista_outdoors)
df_others = c.create_subdata(lista_otros)

## Cleaning üßΩüõÅ

#### Cleaning column address

In [10]:
df_restaurants = c.address(df_restaurants)
df_snacks = c.address(df_snacks)
df_party = c.address(df_party)
df_alcohol = c.address(df_alcohol)
df_culture = c.address(df_culture)
df_outdoors = c.address(df_outdoors)
df_others = c.address(df_others)

#### Columns with latitude and longitude üó∫

In [11]:
df_restaurants = c.latlon(df_restaurants)
df_snacks = c.latlon(df_snacks)
df_party = c.latlon(df_party)
df_alcohol = c.latlon(df_alcohol)
df_culture = c.latlon(df_culture)
df_outdoors = c.latlon(df_outdoors)
df_others = c.latlon(df_others)

#### Dropping some useless columns

In [12]:
df_outdoors = c.drop_row(df_outdoors,"park")
df_outdoors = c.drop_row(df_outdoors,"zoo")
df_others = c.drop_row(df_others, "tlf")
df_others = c.drop_row(df_others, "laser")

#### Changing some place's name

In [13]:
cambio = {"pista de hielo" : "skating",
          "bowling" : "bowling",
          "escape room" : "escape room",
          "spa" : "spa",
          "karts" : "karts",
          "laser tag" : "laser tag",
          "teleferico" : "cableway",
          "tunel de viento" : "wind tunnel",
          "escalada" : "climbing"
}

In [14]:
df_others.place = df_others.place.map(cambio)

#### Evaluating price level üí∏

**Price Level**      
0 ‚Äî Free    
1 ‚Äî Inexpensive (0-15)   
2 ‚Äî Moderate (15-25)       
3 ‚Äî Expensive (25-50)     
4 ‚Äî Very Expensive (<50)

In [15]:
df_snacks['price_level'] = c.fill_nulls(df_snacks)
df_restaurants['price_level'] = c.fill_nulls(df_restaurants)
df_party['price_level'] = c.fill_nulls(df_party)
df_alcohol['price_level'] = c.fill_nulls(df_alcohol)
df_culture['price_level'] = c.fill_nulls(df_culture)

In [16]:
outdoors_price = {"zoo" : 2.0,
 "park" : 0.0, 
 "pista padel" : 1.0, 
 "pista tenis": 1.0,
 "senderismo": 0.0,
 "campo de futbol": 1.0,
 "cancha baloncesto": 1.0,
 "paintball": 2.0,
 "multiaventura": 2.0,
 "golf" : 1.0,
 "water park" : 3.0,
    }

In [17]:
culture_price = {
    'cinema' : 1.0,
    'museum': 2.0, 
    'theater': 2.0,
     'autocine' : 1.0
}

In [18]:
others_price = {'bowling' : 1.0, 
                'spa': 3.0, 
                'escape room' : 2.0, 
                'pista de hielo': 2.0,
                'karts' : 3.0,
                'laser tag': 3.0, 
                'tunel de viento' : 4.0, 
                'teleferico' : 1.0,
                'escalada' : 1.0
               }

In [19]:
df_outdoors['price_level'] = df_outdoors.price_level.fillna(df_outdoors.place.map(outdoors_price))
df_culture['price_level'] = df_culture.price_level.fillna(df_culture.place.map(culture_price))
df_others['price_level'] = df_others.price_level.fillna(df_others.place.map(others_price))

In [21]:
df_restaurants["price"] = df_restaurants.price_level.apply(c.pricing)
df_snacks["price"] = df_snacks.price_level.apply(c.pricing)
df_party["price"] = df_party.price_level.apply(c.pricing)
df_alcohol["price"] = df_alcohol.price_level.apply(c.pricing)
df_culture["price"] = df_culture.price_level.apply(c.pricing)
df_outdoors["price"] = df_outdoors.price_level.apply(c.pricing)
df_others["price"] = df_others.price_level.apply(c.pricing)

## Exporting

In [22]:
df_restaurants.to_json("json/restaurants", orient="records")
df_snacks.to_json("json/snacks", orient="records")
df_culture.to_json("json/culture", orient="records")
df_party.to_json("json/party", orient="records")
df_alcohol.to_json("json/alcohol", orient="records")
df_outdoors.to_json("json/outdoors", orient="records")
df_others.to_json("json/others", orient="records")

In [23]:
df_restaurants.to_csv("data/restaurants.csv")
df_snacks.to_csv("data/snacks.csv")
df_culture.to_csv("data/culture.csv")
df_party.to_csv("data/party.csv")
df_alcohol.to_csv("data/drinks.csv")
df_outdoors.to_csv("data/outdoors.csv")
df_others.to_csv("data/leisure.csv")

In [24]:
df_party.sample(15)

,name,rating,address,price_level,place,CP,latitude,longitude,geometry,price
197,Parche,4.1,"Cl. de Ayala, 120, 28006 Madrid, Spain",2.0,salsa club,28006,40.427173,-3.673381,"{'type': 'Point', 'coordinates': [-3.6733813, ...",15-25‚Ç¨
234,Premiumdance | Clases de salsa y bachata,5.0,"Pl. de Manuel Becerra, 28028 Madrid, Spain",2.0,salsa club,28028,40.427758,-3.668728,"{'type': 'Point', 'coordinates': [-3.6687284, ...",15-25‚Ç¨
336,Quinn's,3.7,"Calle de Maqueda, 138, 28024 Madrid, Spain",1.0,karaoke,28024,40.387542,-3.761876,"{'type': 'Point', 'coordinates': [-3.7618759, ...",1-15‚Ç¨
28,Club Discoteca Paradiso,3.8,"Calle de la Flor Baja, 6, 28013 Madrid, Spain",2.0,club,28013,40.422413,-3.710123,"{'type': 'Point', 'coordinates': [-3.7101235, ...",15-25‚Ç¨
153,La Forja Dance Academy,5.0,"Calle de la Duquesa de Tamames, 7, 28044 Madri...",2.0,dancing,28044,40.372790,-3.749722,"{'type': 'Point', 'coordinates': [-3.7497215, ...",15-25‚Ç¨
271,RIO SAMBA SHOW,0.0,"Calle Fuente Cisneros, 68, 28922 Alcorc√≥n, Mad...",2.0,samba club,28922,40.338026,-3.855840,"{'type': 'Point', 'coordinates': [-3.8558399, ...",15-25‚Ç¨
165,Centro de Danza y Arte de Madrid (CDAM),4.7,"Calle de los Misterios, 8, 28027 Madrid, Spain",2.0,dancing,28027,40.438959,-3.639692,"{'type': 'Point', 'coordinates': [-3.6396922, ...",15-25‚Ç¨
203,"ABAILARMADRID - Dance, friends and fun",4.9,"Calle Azcona, 44 (puerta de la izquierda), 1¬™ ...",2.0,salsa club,28028,40.434528,-3.668752,"{'type': 'Point', 'coordinates': [-3.6687524, ...",15-25‚Ç¨
327,Bar Karaoke El Punto,3.9,"Calle Picos de Europa, 32, 28038 Madrid, Spain",1.0,karaoke,28038,40.394997,-3.660683,"{'type': 'Point', 'coordinates': [-3.6606826, ...",1-15‚Ç¨
341,YOVA'S PUB,4.5,"Calle de Galileo, 74, 28015 Madrid, Spain",1.0,karaoke,28015,40.436468,-3.709984,"{'type': 'Point', 'coordinates': [-3.7099838, ...",1-15‚Ç¨
124,Madrid Salsa Club,1.0,"Calle de Santa Isabel, 9, 28012 Madrid, Spain",2.0,dancing,28012,40.411026,-3.698367,"{'type': 'Point', 'coordinates': [-3.6983671, ...",15-25‚Ç¨
296,Karaoke Kapikas,3.8,"28020 Calle Jos√© Cast√°n Tobe√±as, Plaza Castill...",2.0,karaoke,28020,40.464128,-3.692540,"{'type': 'Point', 'coordinates': [-3.6925399, ...",15-25‚Ç¨
198,MAGANGUE DISCOTECA,4.2,"Calle de Maqueda, 30, 28024 Madrid, Spain",2.0,salsa club,28024,40.393602,-3.765618,"{'type': 'Point', 'coordinates': [-3.765618, 4...",15-25‚Ç¨
212,Sala Morocco,3.8,"Calle del Marqu√©s de Legan√©s, 7, 28004 Madrid,...",2.0,salsa club,28004,40.422116,-3.707419,"{'type': 'Point', 'coordinates': [-3.707419, 4...",15-25‚Ç¨
238,Golden Gran V√≠a,3.7,"C/ Gran V√≠a, n 54, 28013 Madrid, Spain",1.0,salsa club,28013,40.421389,-3.707222,"{'type': 'Point', 'coordinates': [-3.7072222, ...",1-15‚Ç¨