In [24]:
import pandas as pd
import os
import json
from pymongo import MongoClient
import requests
from tqdm import tqdm
from dotenv import load_dotenv
import src.foursquares as fs
conn = MongoClient("localhost:27017")
db = conn.get_database("madrid")
from pymongo import GEOSPHERE

In [25]:
madrid = [40.4165, -3.70256]
madrid_point = {"type": "Point",  "coordinates": madrid}

In [26]:
cinema = fs.f_call(madrid_point,'cinema')

In [27]:
df_cinema = fs.call_to_df(cinema)
df_cinema['place'] = 'cinema'
df_cinema

,name,CP,location,place
0,Yelmo Cines Ideal,28012,"{'type': 'Point', 'coordinates': [-3.703745343...",cinema
1,Cine Doré,28012,"{'type': 'Point', 'coordinates': [-3.699266871...",cinema
2,Cines Callao - Callao City Lights,28013,"{'type': 'Point', 'coordinates': [-3.706089111...",cinema
3,Palacio de la Prensa,28013,"{'type': 'Point', 'coordinates': [-3.705900944...",cinema
4,Cine Capitol 3D,28013,"{'type': 'Point', 'coordinates': [-3.706468197...",cinema
5,Cines Luna,28004,"{'type': 'Point', 'coordinates': [-3.705052, 4...",cinema
6,Sala Equis,28012,"{'type': 'Point', 'coordinates': [-3.706028355...",cinema
7,Microteatro por dinero,28004,"{'type': 'Point', 'coordinates': [-3.704046723...",cinema
8,Cines Princesa,28008,"{'type': 'Point', 'coordinates': [-3.712671006...",cinema
9,Institut Français de Madrid,28004,"{'type': 'Point', 'coordinates': [-3.691997671...",cinema
10,Cine Estudio del Círculo de Bellas Artes,28014,"{'type': 'Point', 'coordinates': [-3.696424291...",cinema
11,CLAN DE BICHOS,28013,"{'type': 'Point', 'coordinates': [-3.709122999...",cinema
12,Mariano Lavida,28004,"{'type': 'Point', 'coordinates': [-3.702207100...",cinema
13,The Urban Beach Cinema Conde Duque,None,"{'type': 'Point', 'coordinates': [-3.711118947...",cinema

In [28]:
df_cinema.to_json("cinema", orient="records")

In [29]:
try:
    !mongoimport --db madrid --collection plans --jsonArray cinema
except:
    pass

2021-05-11T14:37:14.121+0200	connected to: mongodb://localhost/
2021-05-11T14:37:14.129+0200	14 document(s) imported successfully. 0 document(s) failed to import.

In [44]:
db.madrid.create_index([("geometry", GEOSPHERE)])
collection = db.get_collection("plans")

collection.find_one({})

{'_id': ObjectId('609a795a11c091d804263b97'),
 'name': 'Yelmo Cines Ideal',
 'CP': '28012',
 'location': {'type': 'Point', 'coordinates': [-3.7037453431, 40.4137746362]},
 'place': 'cinema'}

In [43]:
#collection.update_many(df_cinema,update=True)