# Transport CAM üöâ üöå üÖøÔ∏è

<img width=400 src="https://www.elagoradiario.com/wp-content/uploads/2019/11/madrid-abono-transporte-plano-del-metro-1035x600.jpg">

## Libraries üìö

In [6]:
import sys
sys.path.append('../')

In [7]:
import pandas as pd
import src.transport as t

## Importing CSV's

In [8]:
transports = [ "stops_autobuses_urbanos", "stops_emt", "stops_interurbanos", "stops_metro",  "stops_metro_ligero", "stops_cercanias"]

In [9]:
for tr in transports:
    name = "../transporte/" + tr + ".csv"
    locals()[tr] = pd.read_csv(name, index_col=0)

In [10]:
parking = pd.read_csv("../transporte/parking.csv", index_col=0, sep=";", encoding = "ISO-8859-1")

## Cleaning DF üßΩ

In [11]:
for transport in transports:
    locals()[transport] = t.limpito(locals()[transport],transport)

In [12]:
stops_metro.head()

,name,latitude,longitude,geometry,place,type
stop_id,,,,,,
par_4_1,PLAZA DE CASTILLA,40.46690,-3.68917,"{'type': 'Point', 'coordinates': [40.4669, -3....",metro,transport
acc_4_1_1,Plaza de Castilla,40.46682,-3.68918,"{'type': 'Point', 'coordinates': [40.46682, -3...",metro,transport
acc_4_1_1040,Ascensor,40.46555,-3.68877,"{'type': 'Point', 'coordinates': [40.46555, -3...",metro,transport
acc_4_1_1043,Intercambiador Superficie,40.46728,-3.68915,"{'type': 'Point', 'coordinates': [40.46728, -3...",metro,transport
acc_4_1_1044,Ascensor,40.46702,-3.68918,"{'type': 'Point', 'coordinates': [40.46702, -3...",metro,transport

In [13]:
parking = t.limpito_parking(parking)

In [14]:
parking.head()

,name,latitude,longitude,geometry,place,type
PK,,,,,,
13470,Aparcamiento mixto. Arquitecto Ribera,40.426,-3.699,"{'type': 'Point', 'coordinates': [40.426, -3.6...",parking,transport
59060,Aparcamiento mixto. Avenida de Am√©rica (interc...,40.438,-3.676,"{'type': 'Point', 'coordinates': [40.438, -3.6...",parking,transport
13475,Aparcamiento mixto. Brasil,40.456,-3.694,"{'type': 'Point', 'coordinates': [40.456, -3.6...",parking,transport
183747,Aparcamiento mixto. Casino de la Reina,40.406,-3.704,"{'type': 'Point', 'coordinates': [40.406, -3.7...",parking,transport
13477,Aparcamiento mixto. Condesa de Gavia,40.449,-3.701,"{'type': 'Point', 'coordinates': [40.449, -3.7...",parking,transport

## Exporting

In [15]:
stops_autobuses_urbanos.to_json("../json/stops_autobuses_urbanos", orient="records")
stops_cercanias.to_json("../json/stops_cercanias", orient="records")
stops_emt.to_json("../json/stops_emt", orient="records")
stops_interurbanos.to_json("../json/stops_interurbanos", orient="records")
stops_metro.to_json("../json/stops_metro", orient="records")
stops_metro_ligero.to_json("../json/stops_metro_ligero", orient="records")
parking.to_json("../json/parking", orient="records")